import

In [1]:
import numpy as np
import pandas as pd
from nltk.tokenize import RegexpTokenizer
# from nltk import FreqDist
# import matplotlib.pyplot as plt
# from matplotlib.ticker import MaxNLocator
# from sklearn.feature_extraction.text import TfidfVectorizer
# from sklearn.naive_bayes import MultinomialNB
# from sklearn.model_selection import cross_val_score
# import nltk
# nltk.download('stopwords', quiet=True)
# from nltk.corpus import stopwords
# from nltk.stem.snowball import SnowballStemmer
# from nltk.tokenize import sent_tokenize
# from sklearn.metrics import confusion_matrix
# from sklearn.metrics import ConfusionMatrixDisplay

load

In [2]:
df = pd.read_csv('../data/tweets.csv', encoding='unicode_escape')

explore

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9093 entries, 0 to 9092
Data columns (total 3 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   tweet_text                                          9092 non-null   object
 1   emotion_in_tweet_is_directed_at                     3291 non-null   object
 2   is_there_an_emotion_directed_at_a_brand_or_product  9093 non-null   object
dtypes: object(3)
memory usage: 213.2+ KB

rename

In [4]:
df.rename(columns={'tweet_text': 'text',
                   'emotion_in_tweet_is_directed_at': 'company',
                   'is_there_an_emotion_directed_at_a_brand_or_product': 'sentiment'},
          inplace = True)

In [6]:
df[df.text.isna()]

  text company                           sentiment
6  NaN     NaN  No emotion toward brand or product

can't do anything without the text of the tweet

In [7]:
df.drop(6, inplace = True)

In [8]:
df.sentiment.value_counts()

sentiment
No emotion toward brand or product    5388
Positive emotion                      2978
Negative emotion                       570
I can't tell                           156
Name: count, dtype: int64

edit, simplify

In [9]:
def sentiment_fix(x):
    if x == 'No emotion toward brand or product':
        return 'neutral'
    elif x == 'Positive emotion':
        return 'positive'
    elif x == 'Negative emotion':
        return 'negative'
    else:
        return 'other'

df['sentiment'] = df['sentiment'].apply(lambda x: sentiment_fix(x))

start editing, tokenizing text

In [13]:
df['text'] = df['text'].str.lower()

In [15]:
basic_token_pattern = r"(?u)\b\w\w+\b"

tokenizer = RegexpTokenizer(basic_token_pattern)
df['text_tokenized'] = df['text'].apply(lambda x: tokenizer.tokenize(x))

In [19]:
def company_fix(x):
    x = x.split()
    for word in {'ipad', 'apple', 'iphone'}:
        if word in x:
            return 'apple'
    for word in {'google', 'android'}:
        if word in x:
            return 'google'
    return 'other'

df['comp'] = df['company'].apply(lambda x: company_fix(x))

AttributeError: 'float' object has no attribute 'split'

In [17]:
df.company.value_counts()

company
iPad                               946
Apple                              661
iPad or iPhone App                 470
Google                             430
iPhone                             297
Other Google product or service    293
Android App                         81
Android                             78
Other Apple product or service      35
Name: count, dtype: int64